.thick-text {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.main-text {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.default-text {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: thin;
    color: #000000;
    text-align: center;
}
.search-group {
    display: flex;          /* Включаем гибкий контейнер */
    flex-direction: column;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;     /* Центрируем по вертикали (если разная высота) */
    margin-top: 5px;        /* Просто отступ сверху для наглядности */
}
.search-group input, 
.search-group button {
    height: 30px;
    padding: 0 2px;
    box-sizing: border-box; /* Чтобы padding не раздувал элементы */
}